@import '../variables.scss';

.ovo_fries{
    width: 100%;
    margin-top: 90px;
};

.bs-location{
    color: #fff;
    font-size: 17px;
    font-family: $font;
};
.bs_pg_heading{
    color: $link-color;
    font-family: $font;
    font-size: 17px;
}