/*
// .page-header
*/
@import '../variables';
@import '../functions';


.page-header {
    border: none !important;
}
.page-header__container {
    
}
.page-header__breadcrumb {
 border: none;
}
.page-header__title {
    
}

$local-padding: 12px;


.breadcrumb {
    background: transparent;
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    top:0px;
}
.breadcrumb-item {
    position: relative;
    margin-right: 10px;
    @include direction {
        #{$padding-inline-start}: 0;
        #{$padding-inline-end}: 6px + $local-padding * 2;
    }

    a {
        color: $breadcrumb-link-default-color;
        transition: color .15s;
        font-family: $link-font;
    }
    a:hover {
        color: $breadcrumb-link-hover-color;
        font-family: $link-font;
    }

    & + & {
        @include direction {
            #{$padding-inline-start}: 0;
            #{$padding-inline-end}: 6px + $local-padding * 2;
        }

        &::before {
            display: none;
        }
    }

    &.active {
        color: $breadcrumb-link-active-color;
    }
}
.breadcrumb-arrow {
    color: $breadcrumb-arrow-color;
    position: absolute;
    top: 5px;
    margin-right: 10px;

    @include direction {
        #{$inset-inline-end}: $local-padding - 1px;
        transform: scaleX(1 * $transform-direction);
    }
}

@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
    .page-header__title {
        padding-top: 4px;

        h1 {
            margin-bottom: 0;
            font-family: $link-font;
        }
    }
}
@media (max-width: breakpoint(sm-end)) {
    .page-header__container {
        padding-bottom: 24px;
    }
    .page-header__title {
        padding-top: 2px;

        h1 {
            margin-bottom: 0;
            font-size: 30px;
            font-family: $link-font;
        }
    }
}