/*
// .product
*/
@import '../variables.scss';
@import '../functions.scss';
@import '../mixins/direction.scss';
@import '../mixins/hacks.scss';


.product {}
.product__content {
    display:-ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: [gallery] calc(50% - 20px) [info] calc(50% - 20px);
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 40px;
}
.product__gallery {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    -ms-grid-column: 1;

    @include only-ie() {
        @include direction {
            #{$margin-inline-end}: 40px;
        }
    }

    grid-row-start: 1;
    grid-row-end: 6;
    min-height: 0;
}
.product__info {
    -ms-grid-row: 1;
    -ms-grid-column: 2;

    position: relative;
    min-height: 0;
};
.product__name{
    color: #fff;
    font-family: $card-font;
    font-size:20px;
};
.product__description{
    color: #fff;
    font-size: 16px;
    font-family: $card-font;
};
.product__sidebar {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.product__footer {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
};
.product__footer_text{
    font-family: $card-font;
    color: #fff;
};
.product__wishlist-compare {
    display: none;
}
.product__name {
    margin-bottom: 18px;
}
.product__rating {
    display: flex;
    margin-bottom: 5px;
}

.product_reviews-link{
    font-family: $card-font;
    color: gray;
}

.product__features {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;

    li {
        padding-top: 1px;
        padding-bottom: 1px;
        position: relative;

        @include direction {
            #{$padding-inline-start}: 13px;
            #{$padding-inline-end}: 0;
        }
    }
    li::before {
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        width: 5px;
        height: 5px;
        border-radius: 2.5px;
        border: 1px solid currentColor;

        @include direction {
            #{$inset-inline-start}: 0;
        }
    }
}
.product__meta {
    list-style: none;
    margin: 12px 0 0;
    padding: 12px 0 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: $link-font;
    font-size: 14px;
    border-top: 1px solid $body-divider-color;

    li {
        @include direction {
            #{$margin-inline-end}: 18px;
        }
    }

    a {
        color: inherit;
        transition: color .2s;
    }
    a:hover {
        color: $link-hover-color;
    }
}
.product__availability {
    display: none;
}
.product__prices {
    margin-top: 18px;
    margin-bottom: 14px;
};
.product__price{
    font-size: 17px;
    color: gray;
    font-family: $card-font;
}
.tags__list{
    color: #fff;
    font-family: $card-font;
    text-decoration: underline;
}
.product__footer {
    margin-top: 32px;
    display: inline-flex;
    justify-content: space-between;
}
.product__tags {
    @include direction {
        #{$margin-inline-end}: 24px;
        #{$margin-inline-start}: 0;
    }
}
.product__share-links {
    margin-top: 2px;
    margin-bottom: 2px;
}


@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
    .product__name {
        margin-bottom: 18px;
        font-family: $card-font;
        color: #fff;
    };
};
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
    .product__content {
        -ms-grid-columns: 44% 56%;
        grid-template-columns: [gallery] calc(44% - 15px) [info] calc(56% - 15px);
        grid-column-gap: 30px;
    }
    .product__gallery {
        @include only-ie() {
            @include direction {
                #{$margin-inline-end}: 30px;
            }
        }
    }
    .product__name {
        margin-bottom: 18px;
        font-family: $card-font;
        color: #fff;
    }
    .product__footer {
        display: block;
        margin-top: 18px;
    }
    .product__share-links {
        margin: 12px 0 0;
    }
}
@media (max-width: breakpoint(sm-end)) {
    .product__content {
        display: block;
    }
    .product__gallery {
        margin-bottom: 24px;
    }
    .product__name {
        margin-bottom: 18px;
        font-family: $card-font;
        color: #fff;
    }
    .product__footer {
        margin-top: 22px;
    }
}
@media (max-width: 559px) {
    .product__footer {
        display: block;
        margin-top: 22px;
    }
    .product__share-links {
        margin: 12px 0 0;
    }
}





.product--layout--sidebar {
    @media (min-width: breakpoint(lg-start)) {
        .product__content {
            -ms-grid-columns: 50% 50%;
            grid-template-columns: [gallery] calc(50% - 16px) [info] calc(50% - 16px);
            grid-column-gap: 32px;
        }
        .product__gallery {
            @include only-ie() {
                @include direction {
                    #{$margin-inline-end}: 32px;
                }
            }
        }
        .product__name {
            margin-bottom: 12px;
            color: #fff;
            font-family: $card-font;
        }
        .product__footer {
            display: block;
            margin-top: 18px;
        }
        .product__share-links {
            margin: 12px 0 0;
        }
    }
}


.product--layout--quickview {
    @media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
        .product__content {
            grid-template-columns: [gallery] calc(50% - 16px) [info] calc(50% - 16px);
            grid-column-gap: 32px;
        }
        .product__name {
            margin-bottom: 12px;
            font-family: $card-font;
            color: #fff;
        }
        .product__footer {
            display: block;
            margin-top: 18px;
        }
        .product__share-links {
            margin: 12px 0 0;
        }
    }
    @media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
        .product__content {
            display: block;
        }
        .product__gallery {
            margin-bottom: 24px;
        }
        .product__name {
            margin-bottom: 18px;
            color: #fff;
            font-family: $card-font;
        }
    }
}
