@import '../variables.scss';

.slick-list{

};

.slick-dots{
    list-style-type: none;
    width:100%;
    bottom: 0px;
    text-align: center;
    margin-top:5px;
    position: relative !important;
};

.slick-dots li{
    display: inline-flex;
    justify-content: space-between;
    margin-right:5px;
};

.slick-dots li button{
    width:50px;
    height:1px;
    overflow: hidden;
    border:none;
    color:gray;
    background:gray;
    padding:0px;
};

.slick-dots .slick-active button{
    width:50px;
    height:1px !important;
    overflow: hidden;
    color:#009999;
    background:#009999;
    border:none;
};